body {
         background-color:grey; 
        }
         h1 {
         text-align:center; 
           color:black;
           font-family:arial;
        }
        a {
         text-align:center; 
        }
         h6 {
         text-align:center; 
           color:black;
           font-family:arial;
        }
                h2 {
         text-align:center; 
           color:black;
           font-family:arial;
        }
                h3 {
         text-align:center; 
           color:black;
           font-family:arial;
        }
                h4 {
         text-align:center; 
           color:black;
           font-family:arial;
        }
                h5 {
         text-align:center; 
           color:black;
           font-family:arial;
        }
        header {
         background-color:white;
          color:white;
           margin:50px;
        }
                footer {
         background-color:white;
          color:white;
                  margin:15px;
        }
        div {
         color:white;
          background-color:white;
           margin:15px;
        }
        
        a:link {
    color: grey; 
    background-color: transparent; 
    text-decoration: none;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: grey;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
    }
